@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --remedy_dark_blue: #16164a;
  --remedy_light_blue: #575ee8;
  --remedy_light_gray: #303030;
  --remedy_dark_gray: #212121;
  --remedy_pink: #ff4d9c;
  --remedy_label_background_gray: #e7e7e8;
}

/* General styles start here */

* {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  overflow-x: hidden;
}

header,
section {
  width: 80%;
  margin: 0 auto;
}

.remedy_btn {
  color: #fff;
  font-size: 1rem;
  background-image: linear-gradient(
    to right,
    var(--remedy_light_blue),
    #542ce0
  );
  outline: none;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  border: 0;
  cursor: pointer;
  transition: 0.5s all ease;
}

.remedy_btn:hover {
  background-image: linear-gradient(to left, var(--remedy_light_blue), #542ce0);
  transform: scale(1.1);
}

.remedy_outline_btn {
  color: #542ce0;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  border: 2px solid #542ce0;
  cursor: pointer;
  transition: 0.5s all ease;
}

.modal1_btn_container {
  margin-top: 3rem;
}

.modal_1 h6 {
  margin-bottom: 1rem;
}
.form_1_input_container .invalid,
.form_2_long_inputs .invalid,
.form_3_long_inputs .invalid,
.form_4_long_inputs .invalid,
.form_5_long_inputs .invalid,
.form_6_long_inputs .invalid {
  border: 2px solid red;
  background-color: #f5e4e4;
  color: #fff;
}
.form_redesign_long_inputs {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  background-color: var(--remedy_label_background_gray);
  margin-top: 0.5rem;
}

.form_redesin_input_container label {
  display: block;
  font-size: 0.8rem;
  color: var(--remedy_dark_gray);
}
/* navbar styles start here  */
.header_section {
  width: 100vw;
  background-color: #fff;
}
.header {
  height: 18%;
}
.nav_bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  padding-inline: 3vw;
  width: 100vw;
  height: 12vh;
  /* margin-left: 5vw; */
  overflow: hidden;
  top: 0;
  background-color: #fff;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.nav_links li {
  list-style: none;
  text-decoration: none;
}
.nav_links a {
  text-decoration: none;
  color: var(--remedy_dark_gray);
  transition: 0.4s all ease;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav_links a:hover {
  color: #542ce0;
  border-bottom: 2px solid #542ce0;
}

.brand_logo {
  max-width: 12rem;
  margin-left: 9vw;
}
.remedy_logo {
  width: 100%;
}
.nav_button_container {
  margin-left: -7vw;
}

.mobile_menu .nav_links,
.mobile_menu .nav_button_container,
.close_mobile_nav,
.hamburger {
  display: none;
  position: fixed;
  left: 85vw;
  font-size: 1.6rem;
}

@media screen and (max-width: 420px) {
  .nav_links {
    display: none;
  }

  .nav_button_container {
    display: none;
  }

  .mobile_menu .nav_links,
  .mobile_menu .nav_button_container,
  .close_mobile_nav,
  .hamburger {
    display: block;
    position: relative;
    left: 0;
    font-size: 1.8rem;
  }
  .hamburger {
    position: fixed;
    left: 83vw;
  }
  .mobile_menu {
    width: 80vw;
    height: 100vh;
    position: fixed;
    left: 19vw;
    top: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
    color: var(--remedy_dark_gray);
    font-size: 1rem;
    transform: translateX(90vw);
    transition: all 600ms ease-in-out;
  }

  .mobile_menu .nav_links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 40%;
    padding-inline-start: 10%;
    font-weight: 700;
    margin-top: 30%;
  }
  .mobile_menu .nav_button_container {
    display: block;
    padding-inline-start: 10%;
    margin-top: 2rem;
  }

  .close_mobile_nav {
    width: 10%;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
    cursor: pointer;
  }
}

/* Mother form styles begin here */

#mother_form_container {
  background-color: #fff;
  border-radius: 2rem;
  width: 80%;
  box-shadow: 10px 17px 18px -6px rgba(0, 0, 0, 0.1);
  margin: 3rem auto;
  padding: 2rem 3rem;
}

form .next_btn_container {
  margin-left: 3rem;
}

form .prev_btn {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--remedy_label_background_gray);
  color: var(--remedy_dark_blue);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s all ease;
  margin-left: 3rem;
}
form .prev_btn:hover {
  transform: scale(1.2);
}

.tab {
  display: none;
}

/* form 1 body styles start here */

.form_section {
  width: 100%;
  background-color: #f5f6fa;
  padding: 4rem 0;
  margin-top: 10vh;
}

.form_container {
  width: 80%;
  margin: 0 auto;
}

.form_title {
  font-weight: 800;
  font-size: 3.5rem;
  color: var(--remedy_dark_blue);
  line-height: 1.2;
  margin-bottom: 0.8rem;
  text-align: center;
}

.form_header {
  width: 60%;
  margin: 0 auto;
}

.form_title span {
  color: #542ce0;
}
.form_1_desc {
  text-align: center;
}

.form_progression {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_progression h4 {
  font-size: 2rem;
  color: var(--remedy_dark_blue);
  font-weight: 600;
}

.form_1_body {
  background-color: #fff;
  border-radius: 2rem;
  width: 100%;

  margin: 2rem auto;
  padding: 2rem 3rem;
}

.form_input_container {
  margin-bottom: 4rem;
}

.form_input_container label {
  display: block;
  font-size: 0.8rem;
  color: var(--remedy_dark_gray);
}

.form_1_input_container input {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  background-color: var(--remedy_label_background_gray);
  margin-top: 0.5rem;
}

.form_input_container input::placeholder {
  color: #9e9898;
  font-size: 0.7rem;
}

.first_last_name,
.phone_number_container,
.email_container,
.profession_container,
.city_container,
.country_container,
.postal_code_container {
  margin-bottom: 1.5rem;
}

.first_last_name {
  display: flex;
  gap: 2rem;
}
.first_name {
  width: 50%;
}

.last_name {
  width: 50%;
}

.next_btn_container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.form1_submit_btn {
  text-decoration: none;
}

.line {
  width: 60%;
  height: 2px;
  background-color: var(--remedy_light_blue);
}

.page_number {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    var(--remedy_light_blue),
    #542ce0
  );
  color: #fff;
  font-size: 0.7rem;
}

@media screen and (max-width: 420px) {
  .form_title {
    font-size: 2rem;

    text-align: center;
  }

  .form_header {
    width: 100%;
  }
  #mother_form_container {
    width: 100%;
  }

  .form_1_body {
    margin: 0;
    padding: 0;
  }

  .form_container {
    width: 90%;
  }

  .first_last_name {
    display: block;
  }
  .last_name,
  .first_name {
    width: 100%;
    margin-bottom: 1rem;
  }

  .form_progression h4 {
    font-size: 1rem;
  }
}

/* form 2 body styles start here */

.form_2_body {
  background-color: #fff;
  border-radius: 2rem;
  width: 100%;

  margin: 2rem auto;
  padding: 2rem 3rem;
}

.form_progression span {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--remedy_label_background_gray);
  color: var(--remedy_dark_blue);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s all ease;
}
.form_progression span:hover {
  transform: scale(1.2);
}

.form_2_line {
  width: 54%;
  height: 2px;
  background-color: var(--remedy_light_blue);
}

.school_status,
.add_experience {
  display: flex;
  gap: 1rem;
}

.form_2_long_inputs {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  background-color: var(--remedy_label_background_gray);
  margin-top: 0.5rem;
}

.form_2_input_container {
  margin-bottom: 4rem;
}

.form_2_input_container label {
  display: block;
  font-size: 0.8rem;
  color: var(--remedy_dark_gray);
}

.form_2_input_container input::placeholder {
  color: #9e9898;
  font-size: 0.7rem;
}
#form_2_add_detail {
  display: none;
  height: 38vh;
  margin-bottom: 2vh;
  box-shadow: 2px, 2px rgba(33, 33, 33, 0.243);
  overflow-x: hidden;
  overflow-y: scroll;
}
#form2out {
  overflow-x: hidden;
  padding: 1%;
  width: fit-content;
  height: 100%;
}
.job_title_container,
.employer_container,
.city_container_form_2,
.country_container_form_2,
.start_end_date,
.school_status_add_experience_container {
  margin-bottom: 1.5rem;
}

.start_end_date {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.start_date {
  width: 50%;
}

.end_date {
  width: 50%;
}

.work_status_add_experience_container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  color: var(--remedy_dark_blue);
  transition: 0.4s ease all;
  cursor: pointer;
}

.school_status {
  display: flex;
  align-items: center;
}

.add_experience {
  outline: none;
  padding: 0.5rem;
  border: 0;
  color: var(--remedy_dark_blue);
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
}

.add_experience span {
  font-size: 1rem;
}

.add_experience:hover {
  color: #542ce0;
  cursor: pointer;
}

.form_2_added_details_card_parent {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.form_2_card_cousins {
  height: 100%;
  width: 47vw;
  overflow-x: hidden;
}

.form_2_added_details_card {
  background-color: rgba(245, 246, 250, 0.37);
  border-radius: 0.5rem;
  border: 1px solid #542ce0;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 95%;
  overflow: hidden;
  margin-top: 6px;
}
.added_details_left {
  position: relative;
  top: 5%;
}
.added_details_left h4 {
  font-size: 1.2rem;
  color: var(--remedy_dark_blue);
  margin-bottom: 1rem;
}
.added_details_desc p {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

.added_details_desc span {
  font-weight: 600;
  font-size: 0.9rem;
}

.added_details_edit_btn_form_2 {
  outline: none;
  padding: 0.5rem;
  border: 0;
  color: #542ce0;
  position: relative;
  top: 80%;
  transition: all 0.4s ease;
}

.added_details_edit_btn_form_2:hover {
  color: var(--remedy_light_blue);
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 420px) {
  .form_2_body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .form_2_line {
    width: 40%;
    height: 2px;
    background-color: var(--remedy_light_blue);
  }
  .form_2_card_cousins {
    width: fit-content;
  }
  .start_end_date {
    flex-direction: column;
  }

  .start_date,
  .end_date {
    width: 100%;
  }

  .work_status_add_experience_container {
    flex-direction: column;

    gap: 1rem;
  }

  form .prev_btn {
    margin-left: 0;
  }

  .form_progression {
    margin-top: 1rem;
  }
}

.hide_work_btn {
  display: none;
}

/* form 3 body styles start here || Job description */

.form_3_body {
  background-color: #fff;
  border-radius: 2rem;
  width: 100%;

  margin: 2rem auto;
  padding: 2rem 3rem;
}

.form_progression span {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--remedy_label_background_gray);
  color: var(--remedy_dark_blue);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s all ease;
}
.form_progression span:hover {
  transform: scale(1.2);
}

.form_3_line {
  width: 50%;
  height: 2px;
  background-color: var(--remedy_light_blue);
}

.form_3_input_container {
  margin-bottom: 4rem;
}

.form_3_input_container label {
  display: block;
  font-size: 0.8rem;
  color: var(--remedy_dark_gray);
}

.form_3_input_container input::placeholder {
  color: #9e9898;
  font-size: 0.7rem;
}

.job_description_container {
  margin-bottom: 1.5rem;
}

.form_3_long_inputs {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  background-color: var(--remedy_label_background_gray);
  margin-top: 0.5rem;
}

.add_description {
  display: flex;
  gap: 1rem;
}

.add_description span:hover {
  color: #542ce0;
}

.form_3_added_details_card {
  background-color: rgba(245, 246, 250, 0.37);
  border-radius: 0.5rem;
  border: 1px solid #542ce0;
  padding: 2rem;
  margin: 3.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 95%;
  width: 95%;
  overflow: hidden;
  display: none;
}

.added_details_top {
  height: 30vh;
  overflow-x: hidden;
}

.added_details_top p {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

.added_details_edit_btn_form_3 {
  outline: none;
  padding: 0.5rem;
  border: 0;
  color: #542ce0;
  transition: all 0.4s ease;
}

.added_details_edit_btn_form_3:hover {
  color: var(--remedy_light_blue);
  cursor: pointer;
  transform: scale(1.1);
}

#added_details_save {
  /* display: none; */
}

@media screen and (max-width: 420px) {
  .form_3_body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .form_3_line {
    width: 30%;
    height: 2px;
    background-color: var(--remedy_light_blue);
  }
  #form_2_add_detail {
    display: none;
    height: 25vh;
  }

  #form2out,
  .form_2_card_cousins {
    width: 66vw;
    height: fit-content;
  }
}

/* form 4 body styles start here || Education */

.form_4_body {
  background-color: #fff;
  border-radius: 2rem;
  width: 100%;

  margin: 2rem auto;
  padding: 2rem 3rem;
}

.form_4_line {
  width: 65%;
  height: 2px;
  background-color: var(--remedy_light_blue);
}

.form_progression span {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--remedy_label_background_gray);
  color: var(--remedy_dark_blue);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s all ease;
}
.form_progression span:hover {
  transform: scale(1.2);
}

.form_4_input_container {
  margin-bottom: 4rem;
}

.form_4_long_inputs {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  background-color: var(--remedy_label_background_gray);
  margin-top: 0.5rem;
}

.form_4_long_inputs {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  background-color: var(--remedy_label_background_gray);
  margin-top: 0.5rem;
}

.form_4_input_container {
  margin-bottom: 4rem;
}

.form_4_input_container label {
  display: block;
  font-size: 0.8rem;
  color: var(--remedy_dark_gray);
}

.form_4_input_container input::placeholder {
  color: #9e9898;
  font-size: 0.7rem;
}

.school_name_container,
.field_study_container,
.degree_container,
.city_container_form_4,
.country_container_form_4,
.start_end_date_form_4,
.school_status_add_experience_container {
  margin-bottom: 1.5rem;
}

.start_end_date_form_4 {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.start_date_form_4 {
  width: 50%;
}

.end_date_form_4 {
  width: 50%;
}

.school_status_add_experience_container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  color: var(--remedy_dark_blue);
  transition: 0.4s ease all;
  cursor: pointer;
}

.add_experience span:hover {
  color: #542ce0;
}

#schoolSaveBtn {
  display: none;
}

@media screen and (max-width: 420px) {
  .form_4_body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .form_4_line {
    width: 50%;
    height: 2px;
    background-color: var(--remedy_light_blue);
  }

  .start_end_date_form_4 {
    display: block;
  }

  .start_date_form_4,
  .end_date_form_4 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .school_status_add_experience_container {
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* form 5 body styles start here || skills & cert */

.form_5_body {
  background-color: #fff;
  border-radius: 2rem;
  width: 100%;

  margin: 2rem auto;
  padding: 2rem 3rem;
}

.form_progression span {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--remedy_label_background_gray);
  color: var(--remedy_dark_blue);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s all ease;
}
.form_progression span:hover {
  transform: scale(1.2);
}

.form_5_line {
  width: 35%;
  height: 2px;
  background-color: var(--remedy_light_blue);
}

.form_5_input_container {
  margin-bottom: 2rem;
}

.form_5_input_container label {
  display: block;
  font-size: 0.8rem;
  color: var(--remedy_dark_gray);
}

.form_5_input_container input::placeholder {
  color: #9e9898;
  font-size: 0.7rem;
}

.skills_cert_container {
  margin-bottom: 1.5rem;
}

.form_5_long_inputs {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  background-color: var(--remedy_label_background_gray);
  margin-top: 0.5rem;
}

.add_skill_cert {
  display: flex;
  gap: 1rem;
  color: var(--remedy_dark_blue);
}

.add_skill_cert span:hover {
  color: #542ce0;
}

.skill_list {
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 246, 250, 0.37);
  border-radius: 0.5rem;
  border: 1px solid #542ce0;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 45%;
  height: fit-content;
}
#skill_list_id ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  overflow-x: hidden;
  height: 25vh;
  margin-bottom: 2vh;
}

.form_5_added_details_card {
  overflow-x: hidden;
  height: 30vh;
  display: none;
}

.added_details_top {
  width: 100%;
}

@media screen and (max-width: 420px) {
  .form_5_body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .form_5_line {
    width: 10%;
    height: 2px;
    background-color: var(--remedy_light_blue);
  }
}

/* form 6 body styles start here || cv package */

.form_6_body {
  background-color: #fff;
  border-radius: 2rem;
  width: 100%;

  margin: 2rem auto;
  padding: 2rem 3rem;
}

.form_progression span {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--remedy_label_background_gray);
  color: var(--remedy_dark_blue);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s all ease;
}
.form_progression span:hover {
  transform: scale(1.2);
}

.form_6_line {
  width: 55%;
  height: 2px;
  background-color: var(--remedy_light_blue);
}

.form_6_input_container {
  margin-bottom: 2rem;
}

.form_6_input_container label {
  display: block;
  font-size: 0.8rem;
  color: var(--remedy_dark_gray);
}

.form_6_input_container input::placeholder {
  color: #9e9898;
  font-size: 0.7rem;
}

.cv_package_container {
  margin-bottom: 1.5rem;
}

.form_6_long_inputs {
  width: 50%;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  background-color: var(--remedy_label_background_gray);
  margin-top: 0.5rem;
}

.form_6_long_inputs option {
  color: var(--remedy_dark_blue);
  font-weight: 600;
  padding: 0 2rem;
}

.add_skill_cert {
  display: flex;
  gap: 1rem;
  color: var(--remedy_dark_blue);
}

.add_skill_cert span:hover {
  color: #542ce0;
}

@media screen and (max-width: 420px) {
  .form_6_body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .form_6_line {
    width: 40%;
    height: 2px;
    background-color: var(--remedy_light_blue);
  }

  .form_6_long_inputs {
    width: 100%;
  }

  form .next_btn_container {
    margin-left: 0;
  }

  .form1_submit_btn {
    width: 100%;
  }
}

/* FOOTER section styles start  here  */

.footer_section {
  width: 100%;
  margin: 4rem 0;
}

.footer_section_container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0 0 0;
}

.top_footer_section {
  display: flex;
  justify-content: space-between;
}

.bottom_footer_section {
  text-align: center;
  margin-top: 3rem;
  color: #808080;
  font-size: 0.7rem;
}

.remedy_brand_identity,
.remedy_contact_info,
.remedy_subscribe {
  width: 25%;
}

footer p {
  font-size: 0.7rem;
}

footer h6 {
  color: var(--remedy_dark_blue);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.remedy_address {
  display: flex;
  gap: 0.7rem;
  color: var(--remedy_dark_gray);
}
.sub_input {
  background-color: #e7e7e8;
  border: 0;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 76%;
}

.sub_input:focus {
  border: 0;
  outline: none;
}

.subscribe_submit_btn {
  color: #fff;
  font-size: 1rem;
  background-image: linear-gradient(
    to right,
    var(--remedy_light_blue),
    #542ce0
  );
  outline: none;
  padding: 0.5rem;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  transition: 0.4s all ease;
  width: 20%;
  height: 3rem;
  transition: 0.4s all ease;
}

.subscribe_submit_btn:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to left, var(--remedy_light_blue), #542ce0);
}

.sub_input_container {
  margin-top: 1rem;
  background-color: #e7e7e8;
  border: 0;
  border-radius: 2rem;
}

.remedy_brand_identity,
.remedy_contact_info,
.remedy_subscribe {
  width: 100%;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 420px) {
  .top_footer_section {
    display: flex;
    flex-direction: column;
  }
  .remedy_brand_identity,
  .remedy_contact_info,
  .overwrite_footer .remedy_subscribe {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 420px) {
  .sub_input_container {
    margin-top: 1rem;
    background-color: #e7e7e8;
    border: 0;
    border-radius: 2rem;
    height: 9vh;
    display: flex;
    justify-content: space-between;
  }
  .sub_input {
    width: 70%;
    height: 100%;
  }
  .subscribe_submit_btn {
    width: 26%;
    height: 100%;
  }
}
